<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shamsapp.shamscorner.com.pocketuni_forum">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name="com.shamsapp.shamscorner.com.pocketuni_forum.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.shamsapp.shamscorner.com.pocketuni_forum.permission.C2D_MESSAGE" />

    <!-- This app has permission to register and receive data message. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Network State Permissions to detect Internet status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- This is for the restart and shut down phone uses -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- Permission to vibrate -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".intro.WelcomeIntro"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.shamsapp.shamscorner.com.pocketuni_forum" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCMPushReceiverService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GCMRegistrationIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <receiver android:name=".routine.RoutineReciever" />

        <service
            android:name=".routine.RoutineService"
            android:exported="false" />

        <receiver android:name=".routine.RoutineUpcomingBeforeNotifyRecieve" />

        <service
            android:name=".routine.RoutineUpcomingBeforeNotify"
            android:exported="false" />

        <receiver android:name=".routine.RoutineUpcomingNotifyReciever" />

        <service
            android:name=".routine.RoutineUpcomingNotify"
            android:exported="false" />

        <receiver
            android:name=".BootReciever"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SyllbusShow"
            android:label="@string/title_syllabus" />
        <activity
            android:name=".class_test.ClassTestInput"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".class_test.InsertMarks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".class_test.PreviousMarks"
            android:label="@string/preview_marks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".class_test.InsertingMarks"
            android:label="@string/title_activity_inserting_marks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".class_test.ClassTestResultInput"
            android:label="@string/title_activity_inserting_marks"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".course_registration.CourseRegistration"
            android:label="@string/title_activity_course_registration"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SuccessActivity"
            android:label="@string/title_activity_success"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".contacts.ContactDetailsView"
            android:label="@string/title_contact_details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".class_test.PreviousMarksShowTab"
            android:label="@string/title_activity_previous_marks"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".settings.Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".error.NoConnection"
            android:label="@string/title_no_connection" />
        <activity
            android:name=".attendance.AttendanceInput"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".attendance.TeacherAtten"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".attendance.StudentAtten"
            android:label="@string/title_activity_attendance" />
        <activity
            android:name=".attendance.InsertingAtten"
            android:label="@string/title_activity_attendance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".attendance.PreviousAtten"
            android:label="@string/title_activity_attendance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".attendance.PreviousAttenShowTab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".attendance.OverallAttendance"
            android:label="@string/title_activity_overall_attendance"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>