<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shamsapp.shamscorner.com.pocketuni_forum">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Dashboard"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SyllbusShow"
            android:label="@string/title_syllabus" />
        <activity
            android:name=".ClassTestInput"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".InsertMarks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PreviousMarks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InsertingMarks"
            android:label="@string/title_activity_inserting_marks"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ClassTestResultInput"
            android:label="@string/title_activity_inserting_marks"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".course_registration.CourseRegistration"
            android:label="@string/title_activity_course_registration"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>